<template>
    <div class="container py-4">
      <h2 class="text-center mb-4">Login Form</h2>
      <div class="col-11 col-sm-8 col-xl-4 mx-auto">
        <form action="" method="post" @submit.prevent="submitForm">
          <div class="mb-3">
            <input
              v-model="formData.email"
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <input
              v-model="formData.password"
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </div>
        </form>
        <div v-if="errorMessage" class="alert alert-danger mt-3" role="alert">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  
  export default {
    data() {
      return {
        formData: {
          email: "",
          password: "",
        },
        errorMessage: "",
      };
    },
    methods: {
      submitForm() {
        // Send login request to API
        axios
          .post("http://127.0.0.1:8000/api/login", this.formData)
          .then((response) => {
            // Handle successful login, e.g., store token in localStorage or Vuex
            console.log("Logged in:", response.data);
            this.errorMessage = "";
          })
          .catch((error) => {
            this.errorMessage = "Login failed. Please check your credentials.";
            console.error("Login error:", error);
          });
      },
    },
  };
  </script>
  