<template>
    <div class="container">
        <button class="btn btn-primary btn-sm mb-2" @click="refreshData">
            Refresh
        </button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" width="10%">No</th>
                        <th scope="col" width="35%">Nama</th>
                        <th scope="col" width="10%">Deskripsi</th>
                        <th scope="col" width="15%">Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in responseData" :key="item.id">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            responseData: null,
        };
    },
    methods: {
        refreshData() {
            this.fetchData();
        },
        fetchData() {
            axios
                .get("http://127.0.0.1:8000/api/products")
                .then((response) => {
                    console.log(response.data);
                    this.responseData = response.data.products;
                })
                .catch((error) => {
                    console.error("Error fetching data:", error);
                });
        },
    },
    mounted() {
        this.fetchData();
    },
};
</script>
